.heading1 {
  display: flex;
  justify-content: space-between;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  width: 89vw;
  /* identical to box height */
  margin-bottom: 12px;
  color: #ffffff;
}
.headingSub {
  color: #34c94b;
}
.headingSub:hover {
  cursor: pointer;
}
.card {
  display: flex;
  margin: 0px;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.grid {
  display: ;
  align-items: ;
  align-content: ;
  flex-direction: ;
  margin-left: 50px;
  margin-right: 50px;
  gap: ;
}
