.heading1 {
  display: flex;
  justify-content: space-between;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  width: 89vw;
  /* identical to box height */

  color: #ffffff;
}

.headingSub:hover {
  color: #34c94b;
  cursor: pointer;
}
.card {
  display: flex;
  margin: 0px;
  gap: 32px;
  flex-wrap: wrap;
}

.grid {
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
  margin-left: 3rem;
  gap: 32px;
}
