.searchBox {
  background-color: var(--black-color);
  top: 67px;
  width: 632px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid wheat;
  color: white;
  z-index: 9;
}
