@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #34c94b;
  --black-color: #121212;
  --white-color: #ffffff;
}

body {
  background-color: var(--black-color);
  font-family: "Poppins", sans-serif;
}

hr {
  margin-top: 32px;
  margin-bottom: 32px;

  height: 2px;
  background-color: var(--primary-color);
  border: none;
}
